<mat-toolbar color="primary">
  <div class="wrapper">
    <a class="logo" routerLink="/">
      <img src="logo.svg" width="35" height="35" alt="" />
    </a>

    <a mat-button routerLink="/user">User</a>
    <a mat-button routerLink="/config">Config</a>

    <!-- <button mat-button (click)="logOut()">Logout</button>
    <div class="toolbar_actions">
      <a mat-raised-button color="white" [href]="siteUrl">View Site</a>
    </div> -->

    <div class="toolbar_actions">
      <a
        *ngIf="!(authService.authenticated | async)"
        mat-raised-button
        color="white"
        (click)="authService.logIn()"
        >Log In</a
      >

      <button
        *ngIf="authService.authenticated | async"
        mat-button
        [matMenuTriggerFor]="menu"
      >
        {{ userNameChanged | async }}
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="authService.logOut()">Log Out</button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
