<mat-toolbar color="primary">
  <a mat-icon-button routerLink="/"><mat-icon svgIcon="logo"></mat-icon></a>
  <a mat-button routerLink="/user"><mat-icon>person</mat-icon> User</a>
  <a mat-button routerLink="/config"><mat-icon>settings</mat-icon> Settings</a>

  <div class="toolbar_actions">
    <a
      *ngIf="!(authService.authenticated | async)"
      mat-raised-button
      color="white"
      (click)="authService.logIn()"
    >
      <mat-icon>exit_to_app</mat-icon> Log In</a
    >

    <button
      *ngIf="authService.authenticated | async"
      mat-button
      [matMenuTriggerFor]="menu"
    >
      <mat-icon>account_circle</mat-icon> {{ userNameChanged | async }}
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="authService.logOut()">
        <mat-icon>logout</mat-icon> Log Out
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
