@import '~normalize.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
  font-family: 'Roboto', sans-serif;
}

input:not([type='checkbox']):not([type='radio']),
select,
textarea,
.input {
  border-width: 0;
}
.toolbar_actions {
  margin-left: auto;
}
.wrapper,
.wrapper--page {
  width: 95%;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}
.mat-table {
  background-color: transparent;
  th,
  td {
    vertical-align: middle; // Override Normalize
  }
}
.wrapper--page {
  margin-top: 3em;
}
.mat-toolbar {
  padding-left: 0;
  padding-right: 0;
  &.mat-primary {
    // Change this on
    background: #5b6a95;
  }
  .wrapper {
    display: flex;
    align-items: center;
  }
}
.spacer {
  flex: 1 1 auto;
}
